In [ ]:
# 1. Write a code to reverse a string.

a = "Hello world, this is Hradesh"
print(a[::-1])

hsedarH si siht ,dlrow olleH

In [ ]:
# 2. Write a code to count the number of vowels in a string.
str = "we will be eliminated in next round."
vowels = "aeiou"
count = sum(str.count(vowel) for vowel in vowels)
print(count)

12

In [ ]:
# 3. Write a code to check if a given string is a palindrome or not.
str = "level"
if(str == str[::-1]):
  print("Given string is palindrome")
else:
  print("It is not palindrome.")

Given string is palindrome

In [ ]:
# 4. Write a code to check if two given strings are anagrams of each other.

str1 = "silent"
str2 = "listen"

if sorted(str1) == sorted(str2):
  print("anagram")

anagram

In [ ]:
# 5. Write a code to find all occurrences of a given substring within another string.



str_t = "I will cut apple and eat apple after that through apple."


sub_t = "apple"


res = [i for i in range(len(str_t)) if str_t.startswith(sub_t, i)]

# printing result
print("The start indices of the substrings are : " + str(res))

The start indices of the substrings are : [11, 25, 50]

In [ ]:
# 6. Write a code to perform basic string compression using the counts of repeated characters.

def solve(s):
   res = ""
   cnt = 1
   for i in range(1, len(s)):
      if s[i - 1] == s[i]:
         cnt += 1
      else:
         res = res + s[i - 1]
         if cnt > 1:
            res += str(cnt)
         cnt = 1
   res = res + s[-1]
   if cnt > 1:
      res += str(cnt)
   return res

s = "abbbaaaaaaccdaaab"
print(solve(s))

ab3a6c2da3b

In [ ]:
# 7. Write a code to determine if a string has all unique characters.


str_1 = "This is all new to me"
a = ""
for i in str_1:
  if i not in a:
    a+=i
print(len(a))

13

In [ ]:
# 8. Write a code to convert a given string to uppercase or lowercase.
line = "welcome to the world of python"
line.upper()
#line.lower()

'WELCOME TO THE WORLD OF PYTHON'

In [ ]:
# 9. Write a code to count the number of words in a strings.
test_string = "write a code to count the numbers of words in a string."
print(len(test_string.split()))

12

In [ ]:
# 10. Write a code to concatenate two strings without using the + operators.

# concatenate two strings without + operators
str1 = "Hello, Good morning sir!"
str2 = "This is Hradesh Shakya"
print(str1,str2)

convert_l = set(list_)
convert_l.discard(34)
print(list(convert_l))

Hello, Good morning sir! This is Hradesh Shakya

In [ ]:
# 11. Write a code to remove all occurrences of a specific element from a list.


test_list = [12, 34, 25, 34, 12, 29, 34]

# initializing list to delete
del_num =  34

# printing original list
print("The original list : " + str(test_list))

# printing delete list
print("The element to be deleted is : " + str(del_num))

# using list comprehension
# Remove all occurrences in nested list
rem_all = [i for i in test_list if i != del_num]

# print result
print("The list after removal of all occurrences of an element : " + str(rem_all))

The original list : [12, 34, 25, 34, 12, 29, 34]
The element to be deleted is : 34
The list after removal of all occurrences of an element : [12, 25, 12, 29]

In [ ]:
# 12. Implement a code to find the second largest number in a given list of integers.
list = [23,22,12,34,15,18,20,21]
list.sort()
print(list[1]) #print the second largest number at index 1

15

In [ ]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary
#     with elements as keys and their counts as values.

ipl_runs = [1, 2, 3, 2, 6, 3, 2, 1, 1, 4, 6, 4, 4]
counts = {}
for runs in ipl_runs:
  if runs in counts:
    counts[runs] += 1
  else:
    counts[runs] = 1

for runs, count in counts.items():
  print(runs,":",count)

print(counts)

1 : 3
2 : 3
3 : 2
6 : 2
4 : 3
{1: 3, 2: 3, 3: 2, 6: 2, 4: 3}

In [ ]:
# 14. Write a code to reverse a list in-place without using an built-in reverse functions.


list = [1,2,3,4,5,6,7,8]
print(list[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

my_list = [1, 2, 3, 6, 7, 2, 4, 6, 3, 1, 7, 9, 4, 8, 5]
set1 = set(my_list)
set1
my_list2 = list(set1)
my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

#determine the given list is sorted or not
orders = [1,2,3,4,5,6,7]
print(f"Original list :",orders)

flag = 0
new_orders = orders[:]
new_orders.sort()
if (new_orders == orders):
  flag = 1


if (flag):
  print("Your orders are sorted.")
else:
  print("Orders are not sorted")

Original list : [1, 2, 3, 4, 5, 6, 7]
Your orders are sorted.

In [ ]:
# 17. Write a code to merge two sorted lists into a single sorted list.

list1 = [1,2,7,6,8,3,7,2,8,8,9]
list1.sort()
print("list 1:",list1)

list2 = [11,22,33,44,88,44,99,33,77,88]
list2.sort()
print("list 2: ",list2)

sorted_list = list1+list2

print("Both Sorted list : ",sorted_list)

list 1: [1, 2, 2, 3, 6, 7, 7, 8, 8, 8, 9]
list 2:  [11, 22, 33, 33, 44, 44, 77, 88, 88, 99]
Both Sorted list :  [1, 2, 2, 3, 6, 7, 7, 8, 8, 8, 9, 11, 22, 33, 33, 44, 44, 77, 88, 88, 99]

In [ ]:
# 18. Implement a code to find the intersection of two given lists.

#intersection of two given list

list_1 = [11,22,33,44,55,66,77]
list_2= [22,88,99,10,44,66]

list_new_1 = list(set(list_1).intersection(list_2))
print(list_new_1)

[66, 44, 22]

In [ ]:
# 19. Create a code to find the union of two lists without duplicates.

#  find the union of two given lists
list1 = [11,22,33,44,55,66,77]
list2 = [22,88,99,10,44,66]

list_new = list(set(list1).union(list2)) #union of two list without duplicates
print(list_new)

[66, 10, 11, 77, 22, 88, 33, 99, 44, 55]

In [ ]:
# 20.  Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random
lis1 = [15,12,48,19,63]
print("The original list is: ",lis1)
random.shuffle(lis1) #shuffle methodn
print("The shuffled list is: ",lis1)

The original list is:  [15, 12, 48, 19, 63]
The shuffled list is:  [15, 48, 12, 19, 63]

In [ ]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

#input tuple1:
my_marks1 = []
n = 5
for i in range(0,n):
  ele = int(input())
  my_marks1.append(ele)


marks_tuple1 = tuple(my_marks1)
print("Tuple 1 : ", marks_tuple1)

#input tuple2:
my_marks2 = []
n = 5
for i in range(0,n):
  ele = int(input())
  my_marks2.append(ele)


marks_tuple2 = tuple(my_marks2)
print("Tuple2 : ",marks_tuple2)
#taking common values from both tuple
set1 = set(marks_tuple1)
set2 = set(marks_tuple2)
set(set1).intersection(set2)
new_tuple = set(set1).intersection(set2)

ans_tuple = tuple(new_tuple)
print("New common tuple : ",ans_tuple)

1
2
3
4
5
Tuple 1 :  (1, 2, 3, 4, 5)
3
4
5
6
7
Tuple2 :  (3, 4, 5, 6, 7)
New common tuple :  (3, 4, 5)

In [ ]:
# 22. Create a code that prompts the user to enter two sets of integers separated b commas. Then print the
# intersection of these two sets.


#input set 1
my_marks1 = []
n = 5
for i in range(0,n):
  ele = int(input())
  my_marks1.append(ele)


marks_set1 = set(my_marks1)
print("Set 1 : ",marks_set1)

# input set 2
my_marks2 = []
n = 5
for i in range(0,n):
  ele = int(input())
  my_marks2.append(ele)


marks_set2 = set(my_marks2)
print("Set 2 : ",marks_set2)

intersection_value = set(marks_set1).intersection(marks_set2)
print("Intersection of both sets :",intersection_value)

1
2
3
4
5
Set 1 :  {1, 2, 3, 4, 5}
4
5
3
6
7
Set 2 :  {3, 4, 5, 6, 7}
Intersection of both sets : {3, 4, 5}

In [ ]:
# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#     tuple containing elements from both input tuples.


#input tuple1
lis = []
n = 5
for i in range(n):
  ele = int(input())
  lis.append(ele)

tuple1 = tuple(lis)
print(tuple1)


lis2 = []
n = 5
for i in range(n):
  ele = int(input())
  lis2.append(ele)

tuple2 = tuple(lis2)
print(tuple2)

concatenate_tuples = tuple1 + tuple2
concatenate_tuples

1
2
3
4
5
(1, 2, 3, 4, 5)
3
4
5
6
7
(3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [ ]:
#  24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are
# present in the first set but not in the second set.


#entry for set1
lis1 = []
n = 5
for i in range(n):
  ele = str(input())
  lis1.append(ele)

set1 = set(lis1)
print("First Set: ",set1)


#entry for set2
lis2 = []
n = 5
for i in range(n):
  ele = str(input())
  lis2.append(ele)

set2 = set(lis2)
print("Second Set: ",set2)


for i in set1:
  print(i)

ddd
ee
ff
gg
gg
First Set:  {'gg', 'ff', 'ee', 'ddd'}
e
e

ww
ee
Second Set:  {'', 'e', 'ww', 'ee'}
gg
ff
ee
ddd

In [ ]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
# containing elements from the original tuple within the specified range of indices.


#empty list
man_id = []
n = 5
for i in range(n):
  ele = input("Enter your element: ")
  man_id.append(ele)

#convert list into tuple
man_id_tup = tuple(man_id)

#takes two int for slicing
a = int(input("Enter first index value :"))
b = int(input("Enter second index value :"))

#final result
print(f"New tuple within specified range : ",man_id_tup[a:b])

Enter your element: ee
Enter your element: rr
Enter your element: tt
Enter your element: yy
Enter your element: hh
Enter first index value :1
Enter second index value :5
New tuple within specified range :  ('rr', 'tt', 'yy', 'hh')

In [ ]:
# 26. Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.

# input of first set
set_char1 = []
n = 5
for i in range(n):
  ele = input("Enter character : ")
  set_char1.append(ele)

x = set(set_char1)   #convert list into set

print(f"First Set :",x)

# input of second set
set_char2 = []
n = 5
for i in range(n):
  ele = input("Enter character : ")
  set_char2.append(ele)

y = set(set_char2)    #convert list into set

print(f"Second Set :",y)

union_set = (x).union(y)

# final result
print(f"Union of both set : ",union_set)

Enter character : ww
Enter character : ee
Enter character : rr
Enter character : tt
Enter character : yy
First Set : {'ww', 'yy', 'tt', 'ee', 'rr'}
Enter character : rr
Enter character : ee
Enter character : ww
Enter character : ff
Enter character : vv
Second Set : {'ww', 'ff', 'ee', 'vv', 'rr'}

{'ee', 'ff', 'rr', 'tt', 'vv', 'ww', 'yy'}

In [ ]:
# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
# minimum values from the tuple using tuple unpacking.


emp_list = []
n = 5
for i in range(n):
  ele = int(input())
  emp_list.append(ele)

print(tuple(emp_list))


res = max(tuple(emp_list))
print(f"Maximum value : ",res)
res1 = min(tuple(emp_list))
print(f"Minimum value : ",res1)

9
5
5
7
8
(9, 5, 5, 7, 8)
Maximum value :  9
Minimum value :  5

In [ ]:
# 28. Create a code that defines two sets of integers. Then print the union intersection and difference of these
#     two sets.

# Define the first set
set_a = {1, 2, 3, 4, 5}
print(f"First Set : ",set_a)
# Define the second set
set_b = {4, 5, 6, 7, 8}
print(f"Second Set : ",set_b)
# union
x = (set_a).union(set_b)
print(f"union of both sets : ",x)
# intersection
y = (set_a).intersection(set_b)
print(f"intersection of both sets: ",y)
# differences
z = (set_a).difference(set_b)
print(f"differences between both sets: ",z)

First Set :  {1, 2, 3, 4, 5}
Second Set :  {4, 5, 6, 7, 8}
union of both sets :  {1, 2, 3, 4, 5, 6, 7, 8}
intersection of both sets:  {4, 5}
differences between both sets:  {1, 2, 3}

In [ ]:
# 29. Write a code that takes a tuple and an element as input. The function should return the count of
# occurrences of the given element in the tuple.

#make an empty list
student_marks = []
n= 5
for i in range(n):
  ele = int(input("Enter marks: "))
  student_marks.append(ele)

print(tuple(student_marks))
element = int(input("mark: "))
print(f"Occurrence of {element} in list: ", student_marks.count(element))

Enter marks: 44
Enter marks: 56
Enter marks: 44
Enter marks: 57
Enter marks: 44
(44, 56, 44, 57, 44)
mark: 44
Occurrence of 44 in list:  3

In [ ]:
#  30. Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of
#      these two sets.


#empty list
emp_name = []
n = 6

for i in range(n):
  ele = str(input("Enter name: "))
  emp_name.append(ele)

A = (set(emp_name))
print(f"Set of Emp 1: {A} ")

emp_name_1 = []
for i in range(n):
  ele = str(input("Enter name: "))
  emp_name_1.append(ele)

B = (set(emp_name_1))

print(f"Set of Emp 2: {B} ")

print(f"Symmetric Difference of both set : ", (A^B))

Enter name: aman
Enter name: pal
Enter name: dal
Enter name: man
Enter name: van
Enter name: kal
Set of Emp 1: {'kal', 'pal', 'van', 'dal', 'aman', 'man'}
Enter name: kal
Enter name: pal
Enter name: dal
Enter name: jal
Enter name: iol
Enter name: pen
Set of Emp 2: {'kal', 'iol', 'pen', 'pal', 'jal', 'dal'}
Symmetric Difference of both set :  {'iol', 'pen', 'jal', 'van', 'aman', 'man'}

In [ ]:
# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
# and the values are the frequencies of those words in the input list.


#empty list
words = []
n = 10
for i in range(n):
  ele = str(input("Enter your words : "))
  words.append(ele)

print(words)

counts = {}
for word in words:
  if word in counts:
    counts[word] += 1
  else:
    counts[word] = 1

for word, count in counts.items():
  print(word,":",count)

print(counts)

Enter your words : letter
Enter your words : table
Enter your words : pen
Enter your words : pen
Enter your words : table
Enter your words : letter
Enter your words : pen
Enter your words : pencil
Enter your words : rubber
Enter your words : rubber
['letter', 'table', 'pen', 'pen', 'table', 'letter', 'pen', 'pencil', 'rubber', 'rubber']
letter : 2
table : 2
pen : 3
pencil : 1
rubber : 2
{'letter': 2, 'table': 2, 'pen': 3, 'pencil': 1, 'rubber': 2}

In [ ]:
# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
# common keys the values should be added together.



user_dict_1 = {}

num_entries = int(input("Enter the number of entries you want to add: "))

for i in range(num_entries):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    user_dict_1[key] = value

dict1 = user_dict_1
print(dict1)

# user input for dict2
user_dict_2 = {}

num_entries = int(input("Enter the number of entries you want to add: "))

for i in range(num_entries):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    user_dict_2[key] = value

dict2 = user_dict_2
print(dict2)
# Python program to combine two dictionary
# adding values for common keys
# initializing two dictionaries




# adding the values with common key
for value in dict2:
    if value in dict1:
      dict2[value] = dict2[value] + dict1[value]
    else:
      pass
for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass

print(dict2)

Enter the number of entries you want to add: 3
Enter key: pw
Enter value: 20
Enter key: skills
Enter value: 10
Enter key: online
Enter value: 25
{'pw': 20, 'skills': 10, 'online': 25}
Enter the number of entries you want to add: 3
Enter key: offline
Enter value: 90
Enter key: skills
Enter value: 20
Enter key: pw
Enter value: 33
{'offline': 90, 'skills': 20, 'pw': 33}
{'offline': 90, 'skills': 40, 'pw': 73}

In [ ]:
#  Ans 33.
# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the
# function should return None.

Dict = {'Dict1' : { }, 'Dict2' : { }}

print(Dict)

# Nested Dictionary

Dict = {'Dict1' : {'name' : 'Ajay','age' : '29' }, 'Dict2' : { 'name' : 'vijay','age' : '28'}}

print(Dict)

def get_nested_value(dictionary, keys):
    value = dictionary
    for key in keys:
        if key in value:
            value = value[key]
        else:
            return None
    return value

get_nested_value(Dict, ['Dict1','name'])

{'Dict1': {}, 'Dict2': {}}
{'Dict1': {'name': 'Ajay', 'age': '29'}, 'Dict2': {'name': 'vijay', 'age': '28'}}

'Ajay'

In [ ]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#     can choose whether to sort in ascending or descending order.



my_dict = {}

entries = int(input("Number of entries you want to add: "))

for i in range(entries):
  key = input("Student name: ")
  value = int(input("Enter age : "))
  my_dict[key] = value

print("List of Student with there age : ",my_dict)

dd2 = dict(sorted(my_dict.items(), key=lambda key_val: key_val[1]))
print("Sorted dictionary by its value(age) : ", dd2)

Number of entries you want to add: 3
Student name: priya
Enter age : 16
Student name: neha
Enter age : 17
Student name: kajal
Enter age : 14
List of Student with there age :  {'priya': 16, 'neha': 17, 'kajal': 14}
Sorted dictionary by its value(age) :  {'kajal': 14, 'priya': 16, 'neha': 17}

In [ ]:
# Ans 35.
#  Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary.

ini_dict = {101: "akshat", 201 : "ball"}

# print initial dictionary
print("initial dictionary : ", str(ini_dict))

# inverse mapping using map and reversed
inv_dict = dict(map(reversed, ini_dict.items()))

# print final dictionary
print("inverse mapped dictionary : ", str(inv_dict))

initial dictionary :  {101: 'akshat', 201: 'ball'}
inverse mapped dictionary :  {'akshat': 101, 'ball': 201}